.bg-leo{
      background: linear-gradient(to top, #1a001a, #4d004d);
    }  
.btn-leo{
  background:linear-gradient(to top, rgb(128, 0, 0),rgb(255, 51, 51));
} 
 
  /*.head{
      height: 80px;
      
    }*/
    .under{

      transition: 1s ease-out;

    }
    
    .under:hover{
     /* height: 80px;*/
    background:linear-gradient(to top, rgb(128, 0, 0),rgb(255, 51, 51));
    display: inline-block;
    box-shadow: 0 0 6px 0px #333;
      /*box-shadow: 0 0 0.2rem 0 #ccc;*/

    }
    
    .p-absolute{
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
    }
    a:hover, .nav-link{
      color: white;
      text-decoration: none;
    }
    a{
      color: white;
    }
    .nav-link a{
      color: white;
    }

.cat a:hover{
      color: rgb(255, 51, 51);
      text-decoration: none;
    }

    .r-image{
      width: 100%;

    }
    .pp{
      width: 100%;
    }
    @media(max-width: 576px) {
      .r-image{
        width: 50%;
        padding-right: 5px;
        border-right: 1px solid #ccc;
      }
    .pp{
      display: block;
      width: 50%;
      }
    }
    .dis-none{
      display: none;
    }
    .bars{
      display: none;

    }
    @media(max-width: 576px){
      .dis-none{
        display: inline-block;
      }
      .bars{
        display: block;
      }
    }
    .bar{
      display: none;
    }

@media(max-width: 576px){
      #left_side{
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        transition: 2s;
        /*height: 100%;*/
        /*margin-top: 60px;*/
        background: linear-gradient(to top, #1a001a, #4d004d);
        z-index: 2
              }
      .cat{
        display: none;
      }
    }
  @media(max-width: 576px){
      .under{
          border-bottom: 1px solid white;
      }
     
    }


/*.left_side{
  display: flex;
}*/















































































































































































































































































































































































































































































































































































































































































 *{
      /*font-family: calibri;*/
      scroll-behavior: smooth;
      /*transition: 2s;*/
        }

.table-head{
  background-color: rgba(0, 128, 0, 0.2);
}
.shadow-me{
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    }
  
.rand{
  border-radius: 3px 3px 0px 0px;
}
.img{width: 50%; transition: 2s;}
      .img:hover{
          width: 75%;
          border-radius: 20%;
      }
      .bord{
          border: 1px dotted red;
          margin-top: 10px;
          
      }
      .imag{
        width: 49%; 
        height: 400px;
        transition: 4s;
      }
      .ima{
        width: 33%;
        
      }
      .b-right{
        border-right: 1px solid rgb(0, 0, 255);
      }
      .imag:hover{
            height: 500px;
      }
      .overlay{
  background: linear-gradient(rgba(3, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.9)100%);
}
.gradient{
  background: linear-gradient(rgb(0, 143, 0)0%, rgb(2, 255, 234)100%);

  }
  /*.search{
        width: 70%;
        margin: auto;
        transition: 3s;
  }*/
  .search:focus{
    width: 100%;
    outline: none;

  }
  .m-top{
        margin-top: 28%;

  }
  .outline{
    outline: none;
  }
  /*a:hover{
    text-decoration: none;
  }*/
  .ajx{
    height: 100%;
    overflow-y: auto;
    z-index: 1;
  }

  .pict{
    width: 50%;
    border-radius: 20%; 
  }
  .pict:hover{
          border-radius: 0;
          transition: 2s;
  }
  /*.success a{
    color: white;
  }
.success a:hover{
      background-color: white;
      color: green;
}
 body{
      background-color: ghostwhite;
    }*/

.animate{
      animation: animate 2s linear infinite;
      border: 3px solid;
       border-color: magenta yellow rgb(2, 255, 234) cyan;
    }
    @keyframes animate{
      0%{ border-color: cyan magenta yellow rgb(2, 255, 234)}
      33%{ border-color: magenta yellow rgb(2, 255, 234) cyan}
      66%{ border-color: yellow rgb(2, 255, 234) cyan magenta}
      100%{ border-color:  rgb(2, 255, 234) cyan magenta yellow}
      
    }
    .border-bot{
      animation: bottom 2s linear infinite;
      border: 1px solid;
       border-color: magenta yellow rgb(2, 255, 234) cyan;
      
    }
    @keyframes bottom{
      0%{ border-color: cyan}
      33%{ border-color: magenta}
      66%{ border-color: yellow}
      100%{ border-color:  rgb(2, 255, 234)}
    }
   /* a:visit{
      background-color: blue;
    }*/
    .bot-left{
      border-left: 2px solid #28a745;
      border-bottom: 2px solid #28a745;
    }
.pointer{
  cursor: pointer;
}
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital,wght@1,300&display=swap');
    /*@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Goldman:wght@400;700&display=swap');*/
